
<div class="row gx-5 mt-4 mx-4">
  <div class="col">
    <div class="p-3 rounded bg-light">
      <div class="w-100 home-title">
        <h3><i class="fa-thin fa-bullseye-arrow mx-2 home-title"></i>Targets</h3>
      </div>
      <hr>
      <%= render_file("target/add_form") %>
      <hr>
    </div>
  </div>
</div>