<form id="add-broadcasters" class="m-8 w-100 add-target-form">
  <div class="row g-3 ">
    <div class="col-2">
      <input type="text" class="form-control" placeholder="Port" aria-label="Port">
    </div>
    <div class="col-4 home-title">
      <button formmethod="post" formaction="/api/broadcasters/add" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>