<form id="add-target" class="m-8 w-100 add-target-form">
  <div class="row g-3 ">
    <div class="col-6">
      <input type="text" class="form-control" placeholder="IP" aria-label="IP">
    </div>
    <div class="col-2">
      <input type="text" class="form-control" placeholder="Port" aria-label="Port">
    </div>
    <div class="col-4 home-title">
      <button formmethod="post" formaction="/api/add_target" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>