<form method="post" action="/api/broadcasters/add" id="add-broadcaster" class="m-8 w-100 add-broadcaster-form">
  <div class="row g-3 ">
    <div class="col-6">
      <input id="port" type="number" name="port" class="form-control" placeholder="Port" aria-label="Port" required>
    </div>
    <div class="col-4 home-title">
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </div>
</form>